body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
		
form {
	padding: 30px;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
}
		
div {
	margin-bottom: 20px;
}
		
.password-label-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
		
#emailInput,#passwordInput {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	box-sizing: border-box;
}
		
#pass_visibility {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
	padding: 0;
	margin-left: 10px;
}
		
#login_button, #register_link{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background: #667eea;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	text-decoration: none;	
    display: block;
	box-sizing: border-box;
}